/*  src/Title.css  */
/* palette: https://colorhunt.co/palette/8294c4acb1d6dbdfeaffead2*/


.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    background-color: #454545;
    color: #fff;
  }

  .Body {
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items:center;
    overflow:  hidden;

  }

  .textboxid{
    width:340px;
  }

  .bgcolor{
    background: #FFE6C7;
  }